<header
  class="flex items-center gap-4 justify-between overflow-hidden max-w-6xl mx-auto bg-background"
>
  <div class="h-16 flex items-center gap-4">
    <app-breadcrumb
      class="hidden md:block overflow-hidden"
      [breadcrumbItems]="breadcrumbItems()"
    />
    <button
      seedButton
      size="icon"
      variant="ghost"
      class="md:hidden"
      (click)="mobileService.toggleNav()"
    >
      <ng-icon seedIcon name="lucideMenu" />
    </button>
  </div>
  <div class="flex items-center gap-4 flex-row-reverse">
    <div class="h-16 flex items-center">
      <input
        seedInput
        placeholder="Search"
        class="w-48 lg:w-64 focus-within:w-64 transition-[width]"
      />
    </div>
  </div>
</header>
