<nav>
  <ol
    class="flex flex-nowrap items-center gap-1.5 text-sm break-words sm:gap-2.5"
  >
    @for(breadcrumb of breadcrumbItems(); track $index) { @if(!$first) {
    <li class="block size-3.5">
      <ng-icon seedIcon name="lucideChevronRight" class="size-4" />
    </li>
    }
    @if($first || !$last) {
    <li>
      <a [routerLink]="breadcrumb.url">
        {{ breadcrumb.label }}
      </a>
    </li>
    } @else if ($last) {
    <li class="truncate">
      {{ breadcrumb.label }}
    </li>
    } }
  </ol>
</nav>
