<div class="rounded-full w-32 aspect-square border-2 border-border">
  <img
    src="/img/me.png"
    alt="Placeholder"
    class="rounded-full w-full h-full object-cover"
  />
</div>
<a href="#" class="text-2xl">
  <h1 seedH1>Tech Garden</h1>
</a>
<p>Principal Architect<br />Bring back on-prem!</p>
<div class="w-full mt-12 relative">
  <ul class="flex flex-col gap-2 -mx-4">
    <li>
      <a
        seedButton
        variant="ghost"
        routerLink="/"
        class="w-full gap-3 justify-start"
        (click)="mobileService.closeNav()"
      >
        <ng-icon seedIcon name="lucideHouse" />
        <span>Home</span>
      </a>
    </li>
    <li>
      <a
        seedButton
        variant="ghost"
        routerLink="/about"
        class="w-full gap-3 justify-start"
        (click)="mobileService.closeNav()"
      >
        <ng-icon seedIcon name="lucideInfo" />
        <span>About</span>
      </a>
    </li>
    <li>
      <a
        seedButton
        variant="ghost"
        routerLink="/blog"
        class="w-full gap-3 justify-start"
        (click)="mobileService.closeNav()"
      >
        <ng-icon seedIcon name="lucideNotebookPen" />
        <span>Blog</span>
      </a>
    </li>
    @if(authService.authenticated()) {
    <li>
      <seed-button-group>
        <button
          seedButton
          variant="ghost"
          class="grow gap-3 justify-start cursor-pointer"
          routerLink="/admin"
        >
          <ng-icon seedIcon name="lucideShieldUser" />
          <span>Admin</span>
        </button>
        <button
          seedButton
          variant="ghost"
          size="icon"
          class="absolute right-0 cursor-pointer"
          [seedMenuTriggerFor]="menu"
        >
          <ng-icon seedIcon name="lucideChevronDown" />
        </button>
      </seed-button-group>
    </li>
    }
  </ul>
</div>
<div class="w-full mt-8">
  <ul class="flex flex-col gap-2 -mx-4">
    <li>
      @if (!authService.authenticated()) {
      <a
        seedButton
        variant="ghost"
        href="/api/auth/login"
        class="w-full gap-3 justify-start"
        (click)="mobileService.closeNav()"
      >
        <ng-icon seedIcon name="lucideLogIn" />
        <span>Sign In</span>
      </a>
      } @else {
      <a
        seedButton
        variant="ghost"
        href="/api/auth/logout"
        class="w-full gap-3 justify-start"
        (click)="mobileService.closeNav()"
      >
        <ng-icon seedIcon name="lucideLogOut" />
        <span>Sign Out</span>
      </a>
      }
    </li>
  </ul>
</div>
<div class="mt-auto flex w-full gap-2 items-center justify-center">
  <button
    seedButton
    size="icon-round"
    variant="ghost"
    (click)="themeService.toggleLightDarkMode()"
    class="cursor-pointer"
  >
    <ng-icon
      seedIcon
      [name]="themeService.getMode() === 'dark' ? 'lucideSun' : 'lucideMoon'"
    />
  </button>
  <ng-icon seedIcon name="lucideDot"></ng-icon>
  <a
    seedButton
    size="icon-round"
    variant="ghost"
    class="cursor-pointer"
    href="https://x.com/techgardencode"
    target="_blank"
    rel="noopener noreferrer"
  >
    <svg
      class="size-5"
      viewBox="0 0 16 16"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <path
        d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"
      />
    </svg>
  </a>
  <a
    seedButton
    size="icon-round"
    variant="ghost"
    class="cursor-pointer"
    href="https://github.com/techgardencode"
    target="_blank"
    rel="noopener noreferrer"
  >
    <ng-icon seedIcon name="lucideGithub"></ng-icon>
  </a>
</div>

<ng-template #menu>
  <seed-menu class="w-56">
    <seed-menu-label>Blog</seed-menu-label>

    <seed-menu-group>
      <button seedMenuItem routerLink="/admin/blog">
        <span>View posts</span>
        <!-- <seed-menu-shortcut>⇧⌘P</seed-menu-shortcut> -->
      </button>

      <button seedMenuItem routerLink="/admin/blog/create">
        <span>Create post</span>
        <!-- <seed-menu-shortcut>⌘B</seed-menu-shortcut> -->
      </button>
    </seed-menu-group>
  </seed-menu>
</ng-template>

<ng-template #invite>
  <seed-sub-menu>
    <button seedMenuItem>Email</button>

    <button seedMenuItem>Message</button>
    <seed-menu-separator />
    <button seedMenuItem>More...</button>
  </seed-sub-menu>
</ng-template>
