<div class="flex gap-4">
  <main class="w-full lg:w-[calc(100%-16rem-1rem)] mr-auto">
    <app-post-header [postMetadata]="post2().data?.metadata"></app-post-header>
    @if (!post2().data) {
    <div class="mt-8 mb-6 h-8 bg-border animate-pulse rounded-lg w-64"></div>
    <div class="w-full py-1">
      <div class="w-11/12 h-4 mb-2 bg-border animate-pulse rounded-lg"></div>
      <div class="w-11/12 h-4 mb-2 bg-border animate-pulse rounded-lg"></div>
      <div class="w-full h-4 mb-2 bg-border animate-pulse rounded-lg"></div>
      <div class="w-10/12 h-4 mb-2 bg-border animate-pulse rounded-lg"></div>
      <div class="w-9/12 h-4 mb-2 bg-border animate-pulse rounded-lg"></div>
    </div>
    } @else {
    <div class="break-words">
      @if(micromarkedContent()) {
      <div class="micromark-content" [innerHTML]="micromarkedContent()"></div>
      }
    </div>
    }
  </main>
  <aside class="hidden lg:block w-64 shrink-0 relative">
    <app-anchor [sections]="[postContents()]" />
  </aside>
</div>
