@if(!postMetadata()) {
} @else {
<div class="w-full max-w-[800px]">
  <img
    [src]="postMetadata()?.imageUrl"
    alt="{{ postMetadata()?.title }}"
    class="mb-3 aspect-video object-cover rounded-lg"
  />
  <div class="flex gap-4 flex-wrap items-center justify-between mb-6">
    <p class="text-xs">
      By
      <span class="font-semibold">{{
        postMetadata()?.author?.displayName
      }}</span>
    </p>
    <div class="flex flex-wrap gap-2 text-xs">
      <p>
        <span>Posted</span>
        <span class="font-semibold">
          {{ postMetadata()?.createdAt | date }}
        </span>
      </p>
      <p>
        <span>Updated</span>
        <span class="font-semibold">
          {{ postMetadata()?.updatedAt | date }}
        </span>
      </p>
    </div>
  </div>
  <div class="flex gap-4 justify-between">
    <h1 seedH1 class="mb-8">{{ postMetadata()?.title }}</h1>
    @if(canUserEdit()) {
    <a hlmBtn [routerLink]="['/admin', 'blog', 'edit', postMetadata()?.id]">
      Edit Post
    </a>
    }
  </div>
  <div class="flex flex-wrap gap-3 mb-2">
    @for (reaction of reactionTypes | keyvalue; track reaction.key) {
    @if(authService.authenticated()) {
    <button
      hlmBtn
      variant="ghost"
      [attr.aria-label]="'Add ' + reaction.value + ' reaction'"
      (click)="toggleReaction(reaction.key)"
    >
      <span class="text-lg">{{ reaction.value }}</span>
      <span>{{ reactions()[reaction.key] }}</span>
    </button>
    } @else {
    <div class="flex gap-2 h-9 items-center px-4 py-2">
      <span class="text-lg">{{ reaction.value }}</span>
      <span>{{ reactions()[reaction.key] }}</span>
    </div>
    } }
  </div>
</div>
}
