@if (block()) { @switch (block()?.type) { @case ('paragraph') {
<p class="py-1" contenteditable="true" [id]="block()?.id" [textContent]="block()?.content" (input)="setContent($event)">
  @if (block()?.content) {
  {{ block()?.content }}
  } @else {
  <br />
  }
</p>
} @case ('header') { @switch (block()?.data?.level) { @case (1) {
<h1 class="pb-4" seedH1 contenteditable="true" [id]="block()?.id" [textContent]="block()?.content" (input)="setContent($event)">
  @if (block()?.content) {
  {{ block()?.content }}
  } @else {
  <br />
  }
</h1>
} @case (2) {
<h2 class="pb-4" seedH2 contenteditable="true" [id]="block()?.id">
  @if (block()?.content) {
  {{ block()?.content }}
  } @else {
  <br />
  }
</h2>
} @case (3) {
<h3 class="pb-4" seedH3 contenteditable="true" [id]="block()?.id">
  @if (block()?.content) {
  {{ block()?.content }}
  } @else {
  <br />
  }
</h3>
} @default {
<h2 class="pb-4" seedH2 contenteditable="true" [id]="block()?.id">
  @if (block()?.content) {
  {{ block()?.content }}
  } @else {
  <br />
  }
</h2>
} }} } }
