<form
  class="flex flex-col gap-4"
  (ngSubmit)="submitForm()"
  [formGroup]="blogPostFormGroup"
>
  <div class="flex flex-col md:max-w-96 gap-1">
    <label for="postTitle" hlmLabel>Title</label>
    <input
      formControlName="title"
      id="postTitle"
      seedInput
      type="text"
      placeholder="My awesome blog post"
    />
  </div>

  <div class="flex flex-col grow md:max-w-96 gap-1">
    <label for="description" hlmLabel>Description</label>
    <textarea
      class="h-auto"
      id="description"
      rows="4"
      formControlName="description"
      seedInput
      type="text"
      placeholder="A captivating summary that sets the scene!"
    ></textarea>
  </div>

  <div class="flex flex-col md:max-w-96 gap-1">
    <label for="postImageUrl" hlmLabel>Image URL</label>
    <input
      id="postImageUrl"
      seedInput
      type="text"
      placeholder="https://example.com/image.png"
      formControlName="imageUrl"
    />
  </div>

  <div class="flex flex-col grow gap-1">
    <label for="postContent" hlmLabel>Post Content</label>
    <textarea
      class="h-auto"
      id="postContent"
      rows="16"
      seedInput
      type="text"
      placeholder="Two households, both alike in dignity, In fair Verona, where we lay our scene, From ancient grudge break to new mutiny, Where civil blood makes civil hands unclean..."
      formControlName="content"
    ></textarea>
  </div>

  <div class="flex flex-col gap-1">
    <label hlmLabel for="postPublic">
      Should post be public?
    </label>
    <hlm-switch id="postPublic" class="mr-2" formControlName="publicPost" />
  </div>

  <button
    class="md:self-start cursor-pointer"
    size="lg"
    seedButton
    type="submit"
  >
    {{ update() ? "Update Post" : "Create Post" }}
  </button>
</form>
